---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/IP130SR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"380-A4eA6YaQH8F2DCmRckjVPwEElhw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"IP13 0SR","quality":1,"eastings":630405,"northings":256202,"country":"England","nhs_ha":"East
        of England","longitude":1.366882,"latitude":52.155987,"european_electoral_region":"Eastern","primary_care_trust":"Suffolk","region":"East
        of England","lsoa":"Suffolk Coastal 005D","msoa":"Suffolk Coastal 005","incode":"0SR","outcode":"IP13","parliamentary_constituency":"Central
        Suffolk and North Ipswich","admin_district":"East Suffolk","parish":"Wickham
        Market","admin_county":"Suffolk","admin_ward":"Wickham Market","ced":"Wickham","ccg":"NHS
        Ipswich and East Suffolk","nuts":"Suffolk","codes":{"admin_district":"E07000244","admin_county":"E10000029","admin_ward":"E05012760","parish":"E04009478","parliamentary_constituency":"E14000624","ccg":"E38000086","ccg_id":"06L","ced":"E58001457","nuts":"UKH14","lsoa":"E01030220","msoa":"E02006291","lau2":"E05010456"}}}'
  recorded_at: Tue, 09 Feb 2021 15:31:46 GMT
recorded_with: VCR 6.0.0
